.App {
  text-align: center;
}

.rsm-wrapper {
  background-color: #6CC3F9;
}

.rsm-zoomable-group {
  transform: none;
}

.rsm-geography {
  fill: #7BEA7B !important;
}

.rsm-geography:hover {
  fill: #4FE34F !important;
}
