.hotel {
	flex: 0 0 auto;
	order: 1;

	display: flex;
	flex-flow: column nowrap;

	width: $width;
	height: $height;
}

//	hotel form
#hotelForm {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;

	width: $card-width;
	margin-top: $card-margin;

	background-color: $card-bg-color;
	box-shadow: $card-box-shadow;

	#destination, #checkIn, #checkOut {
		margin-bottom: $form-margin;
	}

	label {
		font-weight: bold;
	}

	input {
		margin-top: .25rem;
		width: 250px;
		height: $form-field-height;
		border: $form-border;
	}

	.submitBtn {
		cursor: pointer;
		border-radius: $button-radius;
		border: 2px solid $form-color;
		background-color: $form-color;
		width: $form-field-width;
		padding: .5rem;
		font-weight: bold;
	}

	/* 	.submitBtn:hover {
			background-color: $form-color;
			color: rgb(0,0,0);
	} */
}

#hotelList1 {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	height: auto;
	width: $card-width;
	margin-top: $card-margin;

	background-color: $card-bg-color;
	box-shadow: $card-box-shadow;

	h1 {
		margin-bottom: 0;
	}
}

#hotelDetail, #hotelList2{
	ul {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		order: 0;

		width: 100%;

		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

#hotelList2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	height: auto;
	width: $card-width;
	margin-top: $card-margin;

	background-color: $card-bg-color;
	box-shadow: $card-box-shadow;

	padding: $list-padding;

	li {
		text-align: center;
		padding: 0;
		margin-bottom: $list-margin;
			p {
				margin: 0;
			}
	}

	.submitBtn {
		cursor: pointer;
		border-radius: $button-radius;
		border: 2px solid $form-color;
		background-color: $form-color;
		width: $form-field-width;
		padding: .5rem;
		font-weight: bold;
	}
}

#hotelDetailButton, #hotelAddButton {
	order: 1;
}

#hotelAddButton {
	margin-left: $list-margin
}

#hotelDetail {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	height: auto;
	width: $card-width;
	margin-top: $card-margin;

	background-color: $card-bg-color;
	box-shadow: $card-box-shadow;

	padding: $list-padding;

	h1, p {
		text-align: center;
	}

	ul {
		text-align: center;
		margin: $list-margin;
	}

	.submitBtn {
		cursor: pointer;
		border-radius: $button-radius;
		border: 2px solid $form-color;
		background-color: $form-color;
		width: $form-field-width;
		padding: .5rem;
		font-weight: bold;
	}
}

#hotelDetailAddButton {
	margin-bottom: $card-margin;
}