#itinerary {
	order: 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	height: auto;
	width: $card-width;
	margin-top: $card-margin;
	margin-bottom: $card-margin;
	background-color: $card-bg-color;
	box-shadow: $card-box-shadow;
}

.itineraryResults {
	order: 1;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	height: auto;
	width: $card-width;
	margin-bottom: $card-margin;
	background-color: $card-bg-color;
	box-shadow: $card-box-shadow;

	h3 {
		text-align: center;
		padding: 0;
		margin-bottom: $card-margin;
			p {
				margin: 0;
			}
	}
}