#nav{
	flex: 0 0 auto;
	order: -1;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	// height: 75px;
	background-color: black;
	color: rgb(255,255,255);

	#logo {
		align-self: center;
		height: 100px;
		margin: 1.5rem 0 1.5rem 1.5rem;
	}

	ul {
		flex: 0 0 auto;
		align-self: flex-end;
		margin: 1.5rem 1.5rem 1.5rem 0;
		padding: 0;
		list-style-type: none;
	}

	li{
		display: inline;
		margin-right: 10px;
	}

	a {
		color: rgb(255,255,255);
		text-decoration: none;
	}
}

#userNav{
flex: 0 0 auto;
order: -1;

display: flex;
flex-flow: row wrap;
justify-content: space-between;

background-color: black;
color: rgb(255,255,255);

	#logo {
		align-self: center;
		height: 100px;
		margin: 1.5rem 0 1.5rem 1.5rem;
	}

	ul {
		flex: 0 0 auto;
		align-self: flex-end;
		margin: 1.5rem 1.5rem 1.5rem 0;
		padding: 0;
		list-style-type: none;
	}


	li{
		display: inline;
		margin-right: 10px;
	}

	a {
		color: rgb(255,255,255);
		text-decoration: none;
	}
}
