@import './variables';

.user {
	display: flex;
	flex-flow: column wrap;

	width: $width;
	height: $height;
}

#userProfile {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	
	width: $card-width;
	margin-top: $card-margin;

	background-color: $card-bg-color;
	box-shadow: $card-box-shadow;
}

.FileUpload {
	p {
		text-align: center;
		align-self: center;
	}
}