#nav {
  flex: 0 0 auto;
  order: -1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 50px;
  background-color: black;
  color: white; }
  #nav ul {
    flex: 0 0 auto;
    align-self: center;
    margin: 0 12px 0 0;
    padding: 0;
    list-style-type: none; }
  #nav li {
    display: inline;
    margin-right: 10px; }
  #nav a {
    color: white;
    text-decoration: none; }

#userNav {
  flex: 0 0 auto;
  order: -1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 50px;
  background-color: black;
  color: white; }
  #userNav ul {
    flex: 0 0 auto;
    align-self: center;
    margin: 0 12px 0 0;
    padding: 0;
    list-style-type: none; }
  #userNav li {
    display: inline;
    margin-right: 10px; }
  #userNav a {
    color: white;
    text-decoration: none; }

#sidebar {
  background: red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 10%;
  height: 887px; }
  #sidebar ul {
    margin: 0 25px 0 0;
    padding: 0;
    list-style-type: none; }
  #sidebar a {
    text-decoration: none; }

.user {
  background-color: pink;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 887px; }

.flight {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  height: 887px; }

.hotel {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  height: 887px; }

#hotelDetail ul, #hotelList2 ul {
  padding: 0; }

#hotelList2 {
  height: auto; }

.car {
  background-color: pink;
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  height: 887px; }

#carList1, #carList2, #carList3 {
  height: auto; }

#carList2 ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#carList3 {
  margin: 25px 0; }
  #carList3 ul {
    margin: 5px 0;
    padding: 0;
    list-style-type: none; }

#itinerary {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  height: 887px; }

.itineraryResults {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column wrap;
  width: 90%; }
  .itineraryResults ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }

body {
  background-color: yellow;
  margin: 0;
  font-family: 'Quicksand', sans-serif !important; }

#root {
  border: 4px solid lime;
  display: flex;
  flex-flow: row wrap;
  height: 937px; }

div {
  background-color: violet;
  flex: 0 0 auto;
  order: -1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; }

.map {
  display: hidden; }

#home {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 887px; }

.componentWithSidebar {
  display: flex;
  flex-flow: row wrap; }
  .componentWithSidebar #sidebar {
    flex: 0 0 auto;
    order: 2; }
  .componentWithSidebar #userProfile {
    flex: 0 0 auto;
    order: 1;
    width: 90%; }
  .componentWithSidebar #itinerary {
    flex: 0 0 auto;
    order: 1; }
  .componentWithSidebar .flight {
    flex: 0 0 auto;
    order: 1; }
  .componentWithSidebar .hotel {
    flex: 0 0 auto;
    order: 1; }
  .componentWithSidebar .car {
    flex: 0 0 auto;
    order: 1; }

.forms {
  background-color: powderblue;
  flex: 0 0 auto;
  order: 2;
  width: 90%; }
