#nav {
  flex: 0 0 auto;
  order: -1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 50px;
  background-color: black;
  color: white; }
  #nav h1 {
    flex: 0 0 auto;
    align-self: center;
    margin-left: 12px; }
  #nav ul {
    flex: 0 0 auto;
    align-self: center;
    margin: 0 12px 0 0;
    padding: 0;
    list-style-type: none; }
  #nav li {
    display: inline;
    margin-right: 10px; }
  #nav a {
    color: white;
    text-decoration: none; }

#userNav {
  flex: 0 0 auto;
  order: -1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 50px;
  background-color: black;
  color: white; }
  #userNav h1 {
    flex: 0 0 auto;
    align-self: center;
    margin-left: 12px; }
  #userNav ul {
    flex: 0 0 auto;
    align-self: center;
    margin: 0 12px 0 0;
    padding: 0;
    list-style-type: none; }
  #userNav li {
    display: inline;
    margin-right: 10px; }
  #userNav a {
    color: white;
    text-decoration: none; }

#sidebar {
  background: black;
  order: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 50px; }
  #sidebar ul {
    flex: 0 0 auto;
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    width: 35%;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: green; }
  #sidebar li {
    flex: 0 0 auto;
    align-self: center;
    display: inline;
    width: 20%;
    background-color: purple;
    text-align: center; }
  #sidebar a {
    color: white;
    text-decoration: none; }

.user {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 737px; }

#userProfile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 1px 3px #cccccc; }

.FileUpload p {
  text-align: center;
  align-self: center; }

.flight {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 737px; }

#flightForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 1px 3px #cccccc; }

#flightList2 {
  height: auto; }

/* 
	contents are in p-tags nested in a div that is nested in this div class
	i.e. slice-div > div > p
 */
.slice-div div {
  background-color: pink; }

#flightDetail div {
  background-color: pink;
  order: 0; }

#flightDetail ul {
  order: 1;
  list-style-type: none;
  padding: 0; }

#flightDetail button {
  order: 2; }

.hotel {
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 887px; }

#hotelList1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  width: 75%;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 1px 3px #cccccc; }

#hotelDetail ul, #hotelList2 ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  order: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0; }

#hotelList2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  width: 75%;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 1px 3px #cccccc;
  padding: 2rem; }
  #hotelList2 li {
    text-align: center;
    padding: 0;
    margin-bottom: 1rem; }
    #hotelList2 li p {
      margin: 0; }

#hotelDetailButton, #hotelAddButton {
  order: 1; }

#hotelAddButton {
  margin-left: 1rem; }

.car {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 887px; }

#carList1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  width: 75%;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 1px 3px #cccccc; }

#carDetail ul, #carList2 ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  order: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0; }

#carList2, #carList3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: auto;
  width: 75%;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 1px 3px #cccccc;
  padding: 2rem; }
  #carList2 li, #carList3 li {
    text-align: center;
    padding: 0;
    margin-bottom: 1rem; }
    #carList2 li p, #carList3 li p {
      margin: 0; }

#carList2 ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#carList3 {
  margin: 25px 0; }
  #carList3 ul {
    margin: 5px 0;
    padding: 0;
    list-style-type: none; }

#carDetailButton, #carAddButton {
  order: 1; }

#carAddButton {
  margin-left: 1rem; }

#itinerary {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 887px; }

.itineraryResults {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column wrap;
  width: 90%; }
  .itineraryResults ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important; }

#root {
  display: flex;
  flex-flow: row wrap; }

/* .globe__land {
  fill: #7BEA73 !important;
  stroke: none;
} */
div {
  flex: 0 0 auto;
  order: -1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; }

#home {
  background-color: pink;
  flex: 0 0 auto;
  order: 1;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 887px; }

.componentWithSidebar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .componentWithSidebar #sidebar {
    flex: 0 0 auto;
    order: 0; }
  .componentWithSidebar #userProfile, .componentWithSidebar #itinerary, .componentWithSidebar .flight, .componentWithSidebar .hotel, .componentWithSidebar .car {
    flex: 0 0 auto;
    order: 1; }

.forms {
  background-color: powderblue;
  flex: 0 0 auto;
  order: 2;
  width: 90%; }
